<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}


		<link href="{{asset('assets/img/favicon.png')}}" rel="icon">
		<link
		href="{{asset('assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">


		<!-- Google Fonts -->
		<link
		href="{{asset('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet')}}">

		<!-- Vendor CSS Files -->

		<link href="{{asset('assets/vendor/animate.css/animate.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
		<link
		href="{{asset('assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

		<!-- Template Main CSS File -->
		<link href="{{asset('assets/css/style.css')}}" rel="stylesheet">

	</head>

	<header id="header" class="fixed-top d-flex align-items-center">
		<div class="container d-flex align-items-center">

			<h1 class="logo me-auto">
				<a href="index.html">G&S</a>
			</h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

			<nav id="navbar" class="navbar">
				<ul>


					<li class="dropdown">
						<a href="#">
							<span>Services</span>
							<i class="bi bi-chevron-down"></i>
						</a>
						<ul>
							<li><a href="about.html">Informatique</a></li>
							<li><a href="team.html">Electroménager</a></li>
							<li><a href="testimonials.html">Electronique</a></li>
							<li><a href="testimonials.html">Electricité</a></li>
							<li><a href="testimonials.html">Mécanique</a></li>


						</ul>
					</li>


					<li>
						<a href="{{ path('app_register') }}">Inscription</a>
					</li>
					<li>
						<a href="{{ path('app_login') }}">Connexion</a>
					</li>
          	<li>
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</li>

					<li>
						<a href="#">Contact</a>
					</li>
					<li>
						<a href="{{ path('home') }}" class="getstarted">Accueil</a>
					</li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			<!-- .navbar -->

		</div>
	</header>
	<!-- End Header -->


	{% block javascripts %}
		{#{{ encore_entry_script_tags('app') }}#}
	{% endblock %}


	<!-- Vendor JS Files -->
	<script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
	<script src="{{asset('assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
	<script src="{{asset('assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
	<script src="{{asset('assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
	<script src="{{asset('assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
	<script src="{{asset('assets/vendor/php-email-form/validate.js')}}"></script>
	<!-- Template Main JS File -->
	<script src="{{asset('assets/js/main.js')}}"></script>

	{% block body %}{% endblock %}
	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6">
						<div class="footer-info">
							<h3>G&S</h3>
							<p>

								Dakar, Sénégal<br><br>
								<strong>Téléphone:</strong>
								+221774366514<br><br>
								<strong>Email:</strong>
								gabilau2406@gmail.com<br><br>
							</p>
							<div class="social-links mt-3">

								<a href="#" class="facebook">
									<i class="bx bxl-facebook"></i>
								</a>
								<a href="#" class="whatsapp">
									<i class="bx bxl-whatsapp"></i>
								</a>
								<a href="#" class="google-plus">
									<i class="bx bxl-skype"></i>
								</a>
								<a href="#" class="linkedin">
									<i class="bx bxl-linkedin"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li>
								<i class="bx bx-chevron-right"></i>
								<a href="#">Accueil</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i>
								<a href="#">Inscription</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i>
								<a href="#">Connexion</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i>
								<a href="#">Contact</a>
							</li>

						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Nos Services</h4>
						<ul>
							<li>
								<i class="bx bx-chevron-right"></i>
								<a href="#">Informatique</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i>
								<a href="#">Electroménager</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i>
								<a href="#">Electronique</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i>
								<a href="#">Electricité</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i>
								<a href="#">Mécanique</a>
							</li>
						</ul>
					</div>

					<div class="col-lg-4 col-md-6 footer-newsletter">
						<h4>Boite à lettre</h4>
						<p>pour tous suggestions et critiques, veuillez nous envoyez un message</p>
						<form action="" method="post">
							<input type="email" name="email"><input type="submit" value="Soumettre">
						</form>

					</div>

				</div>
			</div>
		</div>

		<div class="container">
			<div class="copyright">
				&copy; Copyright
				<strong>
					<span>G&S</span>
				</strong>. All Rights Reserved
			</div>
			<div class="credits">
				<!-- All the links in the footer should remain intact. -->
				<!-- You can delete the links only if you purchased the pro version. -->
				<!-- Licensing information: https://bootstrapmade.com/license/ -->
				<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->Designed by
					<a href="https://gablau-services.com/"> Gablau</a>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
</html>
